<ion-content>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row class="navbar">
        <ion-col size="2" align-self-center>
          <ion-avatar>
            <img
              src="https://media.licdn.com/dms/image/C5603AQE81PNQWY9wvQ/profile-displayphoto-shrink_200_200/0?e=1564012800&v=beta&t=LkadPyppQHfhNtmj_UxZ-dwXbwR63GC2iSXgdZ-4JtY"
            />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <!-- searchbar -->
          <ion-searchbar
            class=""
            color="light"
            (input)="getItems($event)"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="2" align-self-center>
          <ion-icon size="large" name="ios-photos"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <!-- card start -->
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://cdn.pixabay.com/photo/2014/04/26/04/25/fitness-332278__340.jpg"
              />
            </ion-avatar>
            <ion-label>Katarzyna Moczulska</ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
          <ion-grid class="">
            <ion-row class="">
              <ion-col size="2" class="ion-no-padding">
                <ion-row>
                  <ion-icon name="heart"></ion-icon>
                  <ion-icon name="happy"></ion-icon>
                </ion-row>
              </ion-col>
              <ion-col size="6"></ion-col>
              <ion-col size="4" class="ion-padding-bottom"
                ><p>64 komentarze</p></ion-col
              >
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-tabs>
                <ion-tab-bar slot="bottom">
                  <ion-tab-button tab="tab1">
                    <ion-icon name="heart-empty"></ion-icon>
                    <ion-label>Poleć</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="tab2">
                    <ion-icon name="list-box"></ion-icon>
                    <ion-label>Skomentuj</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="tab3">
                    <ion-icon name="contacts"></ion-icon>
                    <ion-label>Udostępnij</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  <!-- card end-->
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://cdn.pixabay.com/photo/2017/09/01/21/53/blue-2705642__340.jpg"
              />
            </ion-avatar>
            <ion-label>Asia Kowalska</ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
          doloremque. Quidem fuga officia est non quis molestiae nisi deserunt
          neque voluptate assumenda sunt laudantium, officiis asperiores.
          Aliquid sit delectus a vel illo id magni, nulla numquam porro earum
          debitis sapiente deleniti! Voluptate sint, fuga voluptates quae
          nostrum ea esse iste. Nulla quasi molestiae aliquam, aliquid veritatis
          necessitatibus sed quidem exercitationem debitis! Accusantium fugiat
          modi autem maxime esse repudiandae qui voluptas et eius accusamus
          repellat totam magni debitis mollitia enim, odio exercitationem
          assumenda, aperiam ut, eveniet ipsum at quas. Nostrum quas corporis
          expedita ratione animi facere voluptate sunt totam accusamus cumque?
          <ion-grid class="">
            <ion-row class="">
              <ion-col size="2" class="ion-no-padding">
                <ion-row>
                  <ion-icon name="heart"></ion-icon>
                  <ion-icon name="happy"></ion-icon>
                </ion-row>
              </ion-col>
              <ion-col size="6"></ion-col>
              <ion-col size="4" class="ion-padding-bottom">
                <p>32 komentarze</p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-tabs>
                <ion-tab-bar slot="bottom">
                  <ion-tab-button tab="tab1">
                    <ion-icon name="heart-empty"></ion-icon>
                    <ion-label>Poleć</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="tab2">
                    <ion-icon name="list-box"></ion-icon>
                    <ion-label>Skomentuj</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="tab3">
                    <ion-icon name="contacts"></ion-icon>
                    <ion-label>Udostępnij</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  <!-- card end-->
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://cdn.pixabay.com/photo/2017/05/11/08/48/model-2303361__340.jpg"
              />
            </ion-avatar>
            <ion-label>Paula Znaniecka</ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi enim
          libero est fugit inventore, ratione suscipit accusamus adipisci quae
          laborum in rerum aspernatur distinctio voluptates modi aliquid,
          mollitia, repellat asperiores.
          <ion-grid class="">
            <ion-row class="">
              <ion-col size="2" class="ion-no-padding">
                <ion-row>
                  <ion-icon name="heart"></ion-icon>
                  <ion-icon name="happy"></ion-icon>
                </ion-row>
              </ion-col>
              <ion-col size="6"></ion-col>
              <ion-col size="4" class="ion-padding-bottom">
                <p>43 komentarze</p>
              </ion-col>
            </ion-row>
            <ion-row class="ion-margin-top">
              <ion-tabs>
                <ion-tab-bar slot="bottom">
                  <ion-tab-button tab="tab1">
                    <ion-icon name="heart-empty"></ion-icon>
                    <ion-label>Poleć</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="tab2">
                    <ion-icon name="list-box"></ion-icon>
                    <ion-label>Skomentuj</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="tab3">
                    <ion-icon name="contacts"></ion-icon>
                    <ion-label>Udostępnij</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  <!-- card end-->
</ion-content>
