.searchbar-input {
  --background: green;
}

ion-toolbar.ion-color {
  --background: green;
}
ion-toolbar.ion-color
  .sc-ion-searchbar-ios-h:not(.ion-color)
  .searchbar-input.sc-ion-searchbar-ios {
  --background: red;
}

.siedem {
  background-color: brown;
}

.ion-text-left {
  text-align: left;
}
